<div class="col-xs-5 col-sm-2 sidebar-offcanvas">
    <div id="erudioMenuContainer" >
        <div class="menuFunctionality">
        </div>
    </div>
</div>
<div class="col-xs-13 col-sm-10">
    <div id="erudioContentContainer">
        <div ncy-breadcrumb></div>
        <div id="erudioTopBar">
            Erudio Technology
        </div>
        <div id="erudioViewContainer">
            <ui-view/>
        </div>
    </div>
</div>
