<style type="text/css">
    button > .icon-check-empty{
        opacity: 0;
    }
</style>
<div ng-controller="PageCtrl" ng-init="checkLogin();carregarAcessoRapido()">
    <div class="navbar navbar-default" id="navbar">

        <div class="navbar-container" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
		            <small>
		              <img src="./images/tradelogo.png" title="TradeLinks - Solução Eletrônica de Negócios" style="width:35px; margin-top: -5px;">
		              <label>TradeLinks - Solução Eletrônica de Negócios - v{{version}}</label>
		            </small>
                </a>
                <!-- /.brand -->
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-header pull-right" role="navigation">

                <ul class="nav ace-nav">

                    <li ng-show="notifications.alerts.length > 0" class="purple">
                        <a data-toggle="dropdown" class="dropdown-toggle">
                            <i class="icon-bell-alt icon-animated-bell"></i>
                            <span class="badge badge-important">{{notifications.alerts.length}}</span>
                        </a>

                        <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close" style="max-height: 500px; width: 500px;">
                            <li class="dropdown-header">
                                <i class="icon-warning-sign"></i>
                                {{notifications.alerts.length}} Alertas
                            </li>

                            <li ng-repeat="alert in notifications.alerts">
                                <a href="{{alert.url}}">
                                    <div class="clearfix">
                                        <span class="pull-left">
                                            <i class="btn btn-xs no-hover btn-{{alert.status}} {{alert.icon}}"></i>
                                            <p ng-bind-html="alert.text"></p>
                                        </span>
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li ng-show="notifications.messages.length > 0" class="green">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="icon-envelope icon-animated-vertical"></i>
                            <span class="badge badge-success">{{notifications.messages.length}}</span>
                        </a>

                        <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close" style="max-height: 500px; width: 500px;">
                            <li class="dropdown-header">
                                <i class="icon-envelope-alt"></i>
                                {{notifications.messages.length}} Messages
                            </li>

                            <li ng-repeat="message in notifications.messages">
                                <a href="#">
                                    <img ng-src="images/avatars/{{message.avatar}}.png" class="msg-photo" alt="{{message.sender}}'s Avatar" />
                                    <span class="msg-body">
                                        <span class="msg-title">
                                            <span class="blue">{{message.sender}}:</span>
                                            {{message.text}}
                                        </span>

                                        <span class="msg-time">
                                            <i class="icon-time"></i>
                                            <span>{{message.time}}</span>
                                        </span>
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="inbox.html">
                                    Ver todas as Mensagens
                                    <i class="icon-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="images/avatars/avatar2.png"/>
                            <span class="user-info">
                                <small>Bem vindo,<br>{{user.nom_usuario}}</small>
                            </span>
                            <i class="icon-caret-down"></i>
                        </a>

                        <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a ng-click="abrirTelaAlteracaoSenha()" >
                                    <i class="icon-cog"></i>Alterar senha
                                </a>
                            </li>

                            <li>
                                <a href="manuais/Manual%20do%20Sistema.pdf" target="_blank">
                                    <i class="icon-question"></i>Manual do sistema
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a ng-click="logout()" href="#">
                                    <i class="icon-off"></i>Sair
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.ace-nav -->
            </div>
            <!-- /.navbar-header -->
        </div>
        <!-- /.container -->
    </div>

    <div class="main-container" id="main-container">

        <div class="main-container-inner">
            <a class="menu-toggler" id="menu-toggler" href="#">
                <span class="menu-text"></span>
            </a>

            <div class="sidebar" id="sidebar" resize-sidebar>

                <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                        <button class="btn btn-success" ng-click="acessoRapido('verde')" title="{{acessorapido.des_label_verde}}">
                            <i class="{{acessorapido.nom_icone_verde}}"></i>
                        </button>

                        <button class="btn btn-info" ng-click="acessoRapido('azul')" title="{{acessorapido.des_label_azul}}">
                            <i class="{{acessorapido.nom_icone_azul}}"></i>
                        </button>

                        <button class="btn btn-warning" ng-click="acessoRapido('amarelo')" title="{{acessorapido.des_label_amarelo}}">
                            <i class="{{acessorapido.nom_icone_amarelo}}"></i>
                        </button>

                        <button class="btn btn-danger" ng-click="acessoRapido('vermelho')" title="{{acessorapido.des_label_vermelho}}">
                            <i class="{{acessorapido.nom_icone_vermelho}}"></i>
                        </button>
                    </div>

                    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                        <span class="btn btn-success"></span>

                        <span class="btn btn-info"></span>

                        <span class="btn btn-warning"></span>

                        <span class="btn btn-danger"></span>
                    </div>
                </div>
                <!-- #sidebar-shortcuts -->

                <navigation menu="menu"></navigation>

                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
                </div>

            </div>

            <div class="main-content">
                <div class="breadcrumbs" id="breadcrumbs">

                    <ul class="breadcrumb">
                        <li class="active">
                            <i class="icon-home home-icon"></i>
							<a ng-click="atualizarCalendario()" href="#">Home</a>
                        </li>
                    </ul>
                    <!-- .breadcrumb -->

                    <!--
            <div class="nav-search" id="nav-search">
              <form class="form-search">
                <span class="input-icon">
                  <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                  <i class="icon-search nav-search-icon"></i>
                </span>
              </form>
            </div><!-- #nav-search -->
                </div>

                <div id="erudioRoot" class="page-content" ng-view=""></div>
                <!-- <div id="erudioRoot" class="container" ui-view></div> -->

                <!--
        <div class="ace-settings-container" id="ace-settings-container">
          <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
            <i class="icon-cog bigger-150"></i>
          </div>

          <div class="ace-settings-box" id="ace-settings-box">
            <div>
              <div class="pull-left">
                <select id="skin-colorpicker" class="hide">
                  <option data-skin="default" value="#438EB9">#438EB9</option>
                  <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                  <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                  <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                </select>
              </div>
              <span>&nbsp; Choose Skin</span>
            </div>

            <div>
              <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
              <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
            </div>

            <div>
              <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
              <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
            </div>

            <div>
              <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
              <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
            </div>

            <div>
              <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
              <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
            </div>

            <div>
              <input type="checkbox" class="ace ace-checkbox-2" id="Bem" />
              <label class="lbl" for="ace-settings-add-container">
                Inside
                <b>.container</b>
              </label>
            </div>
          </div>
        </div><!-- /#ace-settings-container -->
            </div>
            <!-- /.main-container-inner -->

            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="icon-double-angle-up icon-only bigger-110"></i>
            </a>
        </div>
        <!-- /.main-container -->

        <ng-include src="'typeaheads.html'"></ng-include>
        <ng-include src="'modais.html'"></ng-include>
</div>

<loadscript>

    $(function ($) {
        ace.handle_side_menu($);
        ace.enable_search_ahead($);
        ace.general_things($);
        ace.widget_boxes($);
        ace.settings.check('breadcrumbs', 'fixed');

        ace.settings.navbar_fixed(true);
        ace.settings.sidebar_fixed(true);
    });

    $("#sidebar").slimScroll({
        height: window.innerHeight - 50,
        width: '185px',
        disableFadeOut: true
    });

    $("#sidebar").parent(".slimScrollDiv").css("position", "fixed");
</loadscript>
