/* FIX PARA PINTAR OS CAMPOS OBRIGATORIOS*/
/*
form.ng-submitted input.ng-invalid {
    border:1px solid #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
*/

/* ESTRUTURA - BEGIN */

/*h1, h2, h3, h4, h5, h6  */


#erudioRoot{
    background-color: #F1F2F2;
}

#erudioCabecalho{
    height: 125px;
    background-image: url("../images/cabecalho.jpg");
}

#erudioFaixaAzul{height: 25px; margin-top: -23px; padding-right: 15px; color: #0C3F6E; font-weight:bold}
#erudioFaixaAzul a{color:inherit}

#erudioMenuContainer{
    margin: 20px -5px 20px -15px;
}

#erudioContentContainer{
    margin-top: 15px;
}

#erudioFooter{
    height: 46px;
    background-color: #C8CBD2;
    border-top: 1px solid #999;
}

#erudioTopBar{
    color: #0C3F6E;
    font-family: trebuchet-ms, verdana, helvetica, 'sans-serif';
    background-color: #ADC9DF;
    height: 25px;
    border-bottom: 1px solid #81a8c9;
    padding: 4px 0 0 15px;
    font-size: 13px;
    font-weight: bold;
}

#erudioViewContainer{
    padding: 10px;
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid #C8CCD8;
    border-top: none;
}

/* ESTRUTURA - FIM */

/* MENU - BEGIN */

.breadcrumb{padding: 0; margin:0; background:none; font-size:11px; font-family: verdana, arial, helvetica, 'sans-serif'; color: #8B8B8B;}

.breadcrumb>.active{padding: 9px 0px; margin-top:-15px}

.breadcrumb>.active:before { content:"Você está em: ";}

.menuFunctionality{

}

.menuFunctionality .functionalityLink{
    color: #03435e;
    background-color: #E0E2E6;
    border-bottom: 1px solid #cbced5;
    border-top: 1px solid #F2F2F2;
    padding: 7px 0 7px 12px;
    display: block;
    text-decoration: none!important;
    font-family: verdana, arial, helvetica, 'sans-serif';
    font-size: 11px;
}

.menuFunctionality.ativo .functionalityLink,
.menuFunctionality .functionalityLink:hover{
    background-color: #9fc7d9;
    border-bottom: 1px solid #9fc7d9;
    border-top: 1px solid #9fc7d9;
}

.menuFunctionality .menuSublinksContainer{
    display: none;
    list-style: none;
    padding: 0 0 0 25px;
    margin: 0px;
}

.menuFunctionality.ativo .menuSublinksContainer{
    display: block;
}

.menuSublinksContainer li{
    background-color: #80a5c2;
}

.menuSublinksContainer a{
    padding: 3px 0 4px 6px;
    display: block;
    color: #fff;
    text-decoration: none!important;
    font-family: verdana, arial, helvetica, 'sans-serif';
    font-size: 11px;
    font-weight: normal;
    border-color: #80a5c2;
    border-style: solid;
    border-width: 1px;
}

.menuSublinksContainer a.ativo,
.menuSublinksContainer a:hover{
    border-color: #6699CC #012345 #003366 #6699CC;
    border-style: solid;
    border-width: 1px;
    background-color: #4a759c;
}

/* MENU - FIM */

/*CUSTOM - CSS*/

.alerta {
    margin-bottom: 0 !important;
}

.doisPontos:after {
    content:":";
}

.obrigatorio:after {
    content: ":*" !important;
}

.interrogacao:after {
    content: "?" !important;
}

.interrogacaoObrigatorio:after {
    content: "? *" !important;
}


.limpo:after {
    content: "" !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*fieldset para preencher o grupo de componentes*/
fieldset {
    border: 1px solid #ddd;
    margin-top: -1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    border-radius: 2px;
}
legend {
    border: medium none;
    margin-top: 8px;
    margin-bottom: 11px;
    font-size: 20px;
    color: #033C5B;
    font-weight: boldfspan.nameMMEfspan.nameMME;
    position: relative;
    padding-left: 7px;
    padding-right: 7px;
    width: auto;
}

/*Title modal*/
.modal-title{
    color: #033C5B;    
}

/* Panel */
.panel-title {
    font-size: 19px;
    color: #033C5B;
}

.panel-footer-pesquisar {
    background-color: #F5F5F5;
    padding-left: 14px;
    border-radius: 1px;
    margin-top: -5px;
    margin-bottom: -1px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #DDD;
    margin-left: -16px;
    margin-right: -16px;
}
.panel-footer {
    padding: 5px 15px;
}

.uppercase {
    text-transform: uppercase;
}
/*ajuste paginador ng-table*/
.ng-table-pager {
    border-top: 1px solid #DDD !important;
    height: 45px !important;
    padding: 5px !important;


}
.pagination{
    margin: 2px 0 0 !important;
}

/*ajustes btn tables*/
.table .btn{
    padding:1px 6px !important
}

ul.pagination.ng-table-pagination.ng-scope {
    position: relative;
    /*top: -21px;*/
}

/*classe heading do painel*/
.panel-heading p {
    margin-top: -26px !important;
}
.toggled {
  transform: rotateZ(180deg);
  -webkit-transform: rotateX(180deg);
}

/*OUTRAS CLASSES*/

.border-top {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.b {
    font-weight: bold !important;
}

.link{
    text-decoration: underline;
}

.badge-primary {
    background-color: #337AB7 !important;
}

/*COSTUMIZANDO UIB-TAB*/
.tab-content>.active {
    border-left: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
    padding: 6px !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    background-color: #4a759c;
    color: #fff;
}
.nav-tabs>li>a {
    border: 1px solid #ddd !important;
    border-radius: 4px 4px 0 0 !important;
    color: #333;
}

/*Margin Left*/
.m-l-21 {
    margin-left: 21px ;

input[type=file] {
    display: none;
}
