<div id="footer" class="col-md-12">
  <div class="col-md-2 text-left">
    <a title="Portal - Plataforma erudio erudio" class="logo-footer-erudio" href="#"> 
      <img src="assets/images/logo-footer-erudio.png" alt="Plataforma erudio erudio"> 
    </a>
  </div>
  <div class="col-md-10 text-left">
    <a title="Portal - Currículo erudio" class="logos-footer" href="#"> 
      <img src="assets/images/logo-footer-curriculo.png" alt="Currículo erudio"> 
    </a>
    <a title="Portal - Diretório de Grupos de Pesquisa" class="logos-footer" href="#"> 
      <img src="assets/images/logo-footer-dgp.png" alt="Diretório de Grupos de Pesquisa"> 
    </a>
    <a title="Portal - Diretório de Instituições de Pesquisa" class="logos-footer" href="#"> 
      <img src="assets/images/logo-footer-dip.png" alt="Diretório de Instituições de Pesquisa"> 
    </a>
  </div>
</div>