<div class="col-xs-13 col-sm-12">
    <div id="erudioContentContainer">
        <div ncy-breadcrumb></div>
        <div id="erudioTopBar">
            Erudio Technology
        </div>
        <div id="erudioViewContainer">
            <ui-view/>
        </div>
    </div>
</div>
