<section>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">{{maintainPersonCtrl.titulo}}</h4>
        </div>
        <div class="panel-body">
            <form name="maintainPersonCtrl.formPerson" class="form-horizontal" novalidate>
                <div class="form-group">
                    <label for="name" class="col-md-3 control-label obrigatorio">Name</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" maxlength="150" name="name" id="name" ng-model="maintainPersonCtrl.person.name" required capitalize>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-md-3 control-label obrigatorio">E-mail</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" maxlength="150" name="email" id="email" ng-model="maintainPersonCtrl.person.email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-md-3 control-label obrigatorio">Phone</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" maxlength="15" name="phone" id="phone" ng-model="maintainPersonCtrl.person.phone" required capitalize>
                    </div>
                </div>
                <div class="form-group">
                    <label for="cpf" class="col-md-3 control-label obrigatorio">CPF</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" maxlength="14" name="cpf" id="cpf" ng-model="maintainPersonCtrl.person.cpf" ui-br-cpfcnpj-mask required capitalize>
                    </div>
                </div>
                <div class="form-group">
                    <label for="birthDayDate" class="col-md-3 control-label obrigatorio">Birthday</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="birthDayDate" id="birthDayDate" ng-model="maintainPersonCtrl.person.birthDayDate">
                    </div>
                </div>
                <div class="form-group">
                    <label for="login" class="col-md-3 control-label obrigatorio">Login</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" maxlength="6" name="login" id="login" ng-model="maintainPersonCtrl.person.login" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-3 control-label obrigatorio">Password</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" maxlength="6" name="password" id="password" ng-model="maintainPersonCtrl.person.password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="permission" class="col-md-3 control-label obrigatorio">Permission</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" maxlength="12" name="permission" id="permission" ng-model="maintainPersonCtrl.person.permission" required capitalize>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gender" class="col-md-3 control-label obrigatorio">Gender</label>
                    <select name="singleSelect" ng-model="maintainPersonCtrl.person.gender.idGender" ng-selected="maintainPersonCtrl.selectedItem">
                        <option ng-repeat="item in maintainPersonCtrl.genders" value="{{item.idGender}}">{{item.description}}</option>
                    </select>
                </div>
            </form>
        </div>
        <footer class="panel-footer">
            <button type="submit" class="btn btn-primary"  ng-click="maintainPersonCtrl.cadastrarPerson()" value="">{{'SAVE'| translate}}</button>
            <button type="submit" class="btn btn-default" ng-click="" onClick="javascript:history.go(-1);" value="">{{'CANCEL'| translate}}</button>
        </footer>
    </div>
</section>
